<!DOCTYPE html>
<html>

<head>
    <title>Book Library</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <h1>Welcome to the Book Library</h1>
    <h2>Books</h2>
    <button id="addBookButton" type="button" class="btn btn-primary">Add a Book</button><br>

    <div id="bookFormContainer" style="display: none;">
        <form id="bookForm">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required><br>

            <label for="author">Author:</label>
            <input type="text" id="author" name="author" required><br>

            <label for="publication_year">Publication Year:</label>
            <input type="number" id="publication_year" name="publication_year" required><br>

            <label for="genre">Genre:</label>
            <input type="text" id="genre" name="genre" required><br>

            <button type="submit">Create Book</button>
        </form>
        <div id="message"></div>
    </div>
    <!-- Button to toggle book list visibility -->
    <button id="toggleBooksButton" type="button" class="btn btn-info">Show Books</button>
<br>

    <div id="bookList" style="display: none;">
        <!-- This is where the book list will be displayed -->
    </div>
  
   </div>
    
<!-- Search form -->
<input type="text" id="searchBookTitle" placeholder="Enter book title">
<button id="searchBookButton" type="button" class="btn btn-warning">Search Books</button>
<div id="searchBookResults" style="display: none;">
    <!-- This is where the book search results will be displayed -->
</div>

    
    <br>
    <h2>Loaners</h2> <br>
    <!-- Button to toggle the form visibility -->
    <button id="showFormButton" type="button" class="btn btn-primary">Create Loaner</button><br>
    
    <!-- Loaner creation form (initially hidden) -->
    <form id="loanerForm" style="display: none;">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        
        <label for="contact">Contact:</label>
        <input type="text" id="contact" name="contact" required><br><br>
        
        <button type="submit">Create Loaner</button>
    </form>
    <!-- Button to fetch and display all loaners -->
    <button id="showLoanersButton" type="button" class="btn btn-info">Show All Loaners</button><br>
    
    <!-- Container to display loaners -->
    <div id="loanersList" style="display: none;"></div>

    <!-- Search input field and button for loaners -->
<input type="text" id="searchLoanerName" placeholder="Enter loaner name">
<button id="searchLoanerButton" type="button" class="btn btn-warning">Search Loaners</button>
<div id="searchLoanerResults" style="display: none;">
    <!-- This is where the loaner search results will be displayed -->
  
</div>
<br>
<h2>Loanes</h2>


<!-- Form to be displayed when the button is clicked -->
<button id="openLoanForm" type="button" class="btn btn-primary" >Apply for a Loan</button><br>
<button id="showAllLoans" type="button" class="btn btn-info">Show All Loans</button><br>


    <div id="loanForm" style="display: none;">
        <h2>Loan Application Form</h2>
        <form id="loanApplicationForm">
            <label for="book_id">Book ID:</label>
            <input type="text" id="book_id" name="book_id" required><br>

            <label for="loaner_id">Loaner ID:</label>
            <input type="text" id="loaner_id" name="loaner_id" required><br>

            <label for="loaned_date">Loaned Date:</label>
            <input type="date" id="loaned_date" name="loaned_date" required><br>

            <button type="submit" id="submitForm">Submit</button>
            <button id="closeForm" type="button">Close</button>
        </form>
    </div>

<!-- Placeholder for displaying loan data -->
<div id="loanList" style="display: none;">
    
    <ul id="loanData">
        <!-- Loan data will be displayed here -->
    </ul>

</div>
<!-- Add the "Show Late Loans" button -->
<button id="showLateLoans" type="button" class="btn btn-dark">Show Late Loans</button>
<!-- Placeholder for displaying late loans -->
<div id="lateLoanList" style="display: none;">
    <h2>Late Loans</h2>
    <ul id="lateLoanData">
        <!-- Late loan data will be displayed here -->
    </ul>
</div>


    <!-- script for books  -->
    <script>
        const addBookButton = document.getElementById("addBookButton");
        const bookFormContainer = document.getElementById("bookFormContainer");

        addBookButton.addEventListener("click", function () {
            bookFormContainer.style.display = "block";
        });

        document.getElementById("bookForm").addEventListener("submit", function (event) {
            event.preventDefault();

            const title = document.getElementById("title").value;
            const author = document.getElementById("author").value;
            const publication_year = document.getElementById("publication_year").value;
            const genre = document.getElementById("genre").value;

            const bookData = {
                title: title,
                author: author,
                publication_year: publication_year,
                genre: genre
            };

            axios.post('/books/books', bookData)
                .then(function (response) {
                    document.getElementById("message").textContent = response.data.message;
                    // Hide the form and show the success message
                    bookFormContainer.style.display = "none";
                    document.getElementById("message").style.display = "block";
                })
                .catch(function (error) {
                    console.error(error);
                });
        });

        const toggleBooksButton = document.getElementById("toggleBooksButton");
        const bookList = document.getElementById("bookList");
        let booksVisible = false; // Track the visibility state

        // Function to toggle book list visibility
        function toggleBookList() {
            if (booksVisible) {
                bookList.style.display = "none";
                toggleBooksButton.textContent = "Show Books";
            } else {
                bookList.style.display = "block";
                toggleBooksButton.textContent = "Hide Books";
            }
            booksVisible = !booksVisible; // Toggle the visibility state
        }

        toggleBooksButton.addEventListener("click", function () {
            if (booksVisible) {
                // If books are visible, hide them
                toggleBookList();
            } else {
                // If books are not visible, fetch and display them
                axios.get('/books/books')
                    .then(function (response) {
                        const books = response.data.books;
                        const bookListHTML = books.map(book => `
                            <div>
                                <strong>Title:</strong> ${book.title}<br>
                                <strong>Author:</strong> ${book.author}<br>
                                <strong>Publication Year:</strong> ${book.publication_year}<br>
                                <strong>Genre:</strong> ${book.genre}<br>
                                <button type="button" class="btn btn-danger" onclick="deleteBook(${book.id})">Delete</button>
                                <button type="button" class="btn btn-secondary"  onclick="editBook(${book.id})">Edit</button>
                            </div>
                            <hr>
                        `).join('');

                        bookList.innerHTML = bookListHTML;
                        toggleBookList();
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            }
        });

        // Function to edit a book
        function editBook(bookId) {
            // Replace book information with edit form
            const bookElement = document.querySelector(`#bookList div:nth-child(${bookId})`);
            const book = bookElement.innerHTML;
            bookElement.innerHTML = `
                <div>
                  title : <input type="text" id="editTitle_${bookId}" value="${book.title}"> <br>
                   author :  <input type="text" id="editAuthor_${bookId}" value="${book.author}"> <br>
                   publication_year :  <input type="number" id="editPublicationYear_${bookId}" value="${book.publication_year}"> <br>
                   genre :  <input type="text" id="editGenre_${bookId}" value="${book.genre}">
                    <button onclick="updateBook(${bookId})">Update</button>
                </div>
                <hr>
            `;
        }

        // Function to update a book
        function updateBook(bookId) {
            const editTitle = document.getElementById(`editTitle_${bookId}`).value;
            const editAuthor = document.getElementById(`editAuthor_${bookId}`).value;
            const editPublicationYear = document.getElementById(`editPublicationYear_${bookId}`).value;
            const editGenre = document.getElementById(`editGenre_${bookId}`).value;

            const bookData = {
                title: editTitle,
                author: editAuthor,
                publication_year: editPublicationYear,
                genre: editGenre
            };

            axios.put(`/books/books/${bookId}`, bookData)
                .then(function (response) {
                    // Update the book's information in the list
                    const bookElement = document.querySelector(`#bookList div:nth-child(${bookId})`);

                    bookElement.innerHTML = `
                        <strong>Title:</strong> ${editTitle}<br>
                        <strong>Author:</strong> ${editAuthor}<br>
                        <strong>Publication Year:</strong> ${editPublicationYear}<br>
                        <strong>Genre:</strong> ${editGenre}<br>
                        <button onclick="deleteBook(${bookId})">Delete</button>
                        <button onclick="editBook(${bookId})">Edit</button>
                    `;

                    console.log(response.data.message);
                })
                .catch(function (error) {
                    console.error(error);
                });
        }

        // Function to delete a book by its ID
        function deleteBook(bookId) {
            axios.delete(`/books/books/${bookId}`)
                .then(function (response) {
                    // Book deleted successfully, refresh the book list
                    toggleBooksButton.click(); // Simulate a click to refresh the list
                    console.log(response.data.message);
                })
                .catch(function (error) {
                    console.error(error);
                });
        }

      // Function to display search results
function displaySearchResults(results) {
    const searchResultsElement = document.getElementById('searchBookResults');
    searchResultsElement.style.display = 'block'; // Show the results container

    // Clear any previous results
    searchResultsElement.innerHTML = '';

    // Map the results to HTML elements
    results.map(book => {
        const bookDiv = document.createElement('div');
        bookDiv.innerHTML = `
            <p><strong>Title:</strong> ${book.title}</p>
            <p><strong>Author:</strong> ${book.author}</p>
            <p><strong>Publication Year:</strong> ${book.publication_year}</p>
            <p><strong>Genre:</strong> ${book.genre}</p>
        `;
        searchResultsElement.appendChild(bookDiv);
    });
}

// Add a click event listener to the search button
document.getElementById('searchBookButton').addEventListener('click', () => {
    const query = document.getElementById('searchBookTitle').value;
    
    // Make an Axios GET request to your Flask route
    axios.get(`/books/search-books?q=${query}`)
        .then(response => {
            const results = response.data.search_results;
            displaySearchResults(results);
        })
        .catch(error => {
            console.error('Error:', error);
        });
});

 </script>
    <!-- script for loaners  -->
    <script>
        // Function to fetch and display all loaners
function fetchAndDisplayLoaners() {
    axios.get('/loaners/loaners') // Adjust the URL to match your Flask route
        .then(function (response) {
            const loaners = response.data.loaners; // Access the 'loaners' data from the response
            const loanersListContainer = document.getElementById("loanersList");

            // Clear the existing content and show the container
            loanersListContainer.innerHTML = "";
            loanersListContainer.style.display = "block";

                 // Create a list of loaners using the map function
                 const loanersList = loaners.map(function (loaner) {
                const deleteButton = `<button type="button" class="btn btn-danger" onclick="deleteLoaner(${loaner.id})">Delete</button>`;
                const editButton = `<button type="button" class="btn btn-secondary" onclick="editLoaner(${loaner.id}, '${loaner.name}', '${loaner.contact}')">Edit</button>`;
                return `<div key=${loaner.id}>
                    <p><strong>Name:</strong> ${loaner.name}</p>
                    <p><strong>Contact:</strong> ${loaner.contact}</p>
                    ${deleteButton} ${editButton}
                </div>`;
            });

            // Add the loaners list to the container
            loanersListContainer.innerHTML = loanersList.join('');
        })
        .catch(function (error) {
            console.error(error);
            alert("An error occurred while fetching loaners.");
        });
}
// Function to edit a loaner by its ID
function editLoaner(loanerId, currentName, currentContact) {
    // Prompt the user to enter new information
    const newName = prompt("Enter the new name:", currentName);
    const newContact = prompt("Enter the new contact:", currentContact);

    if (newName !== null && newContact !== null) {
        // Send a PUT request to your Flask route with the updated information
        axios.put(`/loaners/loaners/${loanerId}`, { name: newName, contact: newContact })
            .then(function (response) {
                alert(response.data.message);
                fetchAndDisplayLoaners(); // Refresh the loaners list
            })
            .catch(function (error) {
                console.error(error);
                alert("An error occurred while updating the loaner.");
            });
    }
}
// Event listener for the "Show All Loaners" button
document.getElementById("showLoanersButton").addEventListener("click", function () {
    fetchAndDisplayLoaners();
});


        // Function to toggle the form visibility
        function toggleFormVisibility() {
            const form = document.getElementById("loanerForm");
            form.style.display = form.style.display === "none" ? "block" : "none";
        }

        // Event listener for the "Create Loaner" button
        document.getElementById("showFormButton").addEventListener("click", function() {
            toggleFormVisibility();
        });

        document.getElementById("loanerForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent the default form submission

            const name = document.getElementById("name").value;
            const contact = document.getElementById("contact").value;

            // Send a POST request to your Flask route
            axios.post('/loaners/loaners', { name, contact })
                .then(function (response) {
                    alert(response.data.message);
                    toggleFormVisibility(); // Hide the form after submission
                })
                .catch(function (error) {
                    console.error(error);
                    alert("An error occurred while creating the loaner.");
                });
        });
        // Function to delete a loaner by its ID
function deleteLoaner(loanerId) {
    if (confirm("Are you sure you want to delete this loaner?")) {
        axios.delete(`/loaners/loaners/${loanerId}`) // Adjust the URL to match your Flask route
            .then(function (response) {
                // Handle successful deletion, you can update the UI as needed
                alert(response.data.message);
                fetchAndDisplayLoaners(); // Refresh the loaners list
            })
            .catch(function (error) {
                console.error(error);
                alert("An error occurred while deleting the loaner.");
            });
    }
}
const searchLoanerButton = document.getElementById("searchLoanerButton");
const searchLoanerResults = document.getElementById("searchLoanerResults");

searchLoanerButton.addEventListener("click", function () {
    const searchLoanerName = document.getElementById("searchLoanerName").value;

    axios.get(`/loaners/search-loaners?name=${searchLoanerName}`)
        .then(function (response) {
            const searchResultsData = response.data.search_results;
            const searchResultsHTML = searchResultsData.map(result => `
                <div>
                    <strong>Name:</strong> ${result.name}<br>
                    <strong>Contact:</strong> ${result.contact}<br>
                </div>
                <hr>
            `).join('');

            searchLoanerResults.innerHTML = searchResultsHTML;
            searchLoanerResults.style.display = "block";
        })
        .catch(function (error) {
            console.error(error);
        });
});

        
    </script>
    <!-- script for loanes  -->
    <script>

const openButton = document.getElementById("openLoanForm");
        const form = document.getElementById("loanForm");
        const closeButton = document.getElementById("closeForm");
        const loanForm = document.getElementById("loanApplicationForm");

        openButton.addEventListener("click", function() {
            form.style.display = "block";
        });

        closeButton.addEventListener("click", function() {
            form.style.display = "none";
        });

        
        const submitButton = document.getElementById("submitForm");
const bookIdInput = document.getElementById("book_id");
const loanerIdInput = document.getElementById("loaner_id");
const loanedDateInput = document.getElementById("loaned_date");

submitButton.addEventListener("click", () => {
    const data = {
        book_id: bookIdInput.value,
        loaner_id: loanerIdInput.value,
        loaned_date: loanedDateInput.value
    };

    // Check if the book is already loaned
    axios.get(`/loans/loans/check-loan-availability?book_id=${data.book_id}`)
        .then(function(response) {
            if (response.data.available) {
                // The book is available for loan
                axios.post('/loans/loans', data)
                    .then(function(response) {
                        console.log(response.data);
                        alert("Loan application successful!");
                    })
                    .catch(function(error) {
                        console.error(error);
                        alert("Loan application failed.");
                    });
            } else {
                alert("Book is already loaned and not available for loan.");
            }
        })
        .catch(function(error) {
            console.error(error);
            alert("Error checking book availability.");
        });

    // Hide the form
    form.style.display = "none";
});

        document.getElementById("showAllLoans").addEventListener("click", function() {
    // Send a GET request to retrieve all loans from the server
    axios.get('/loans/loans')
        .then(function(response) {
            const loanData = response.data.loans;
            const loanList = document.getElementById("loanData");
            loanList.innerHTML = ""; // Clear previous data

            if (loanData.length > 0) {
                // Use the map function to create list items for each loan
                loanData.forEach(function(loan) {
                    const listItem = document.createElement("li");
                    listItem.textContent = `Loan ID: ${loan.id}, Book ID: ${loan.book_id}, Loaner ID: ${loan.loaner_id}, Loaned Date: ${loan.loaned_date}, Returned Date: ${loan.returned_date || 'N/A'}`;
                    
                  // Create a "Return" button for each loan with Bootstrap classes
const returnButton = document.createElement("button");
returnButton.textContent = "Return";
returnButton.setAttribute("type", "button");
returnButton.classList.add("btn", "btn-success");

// Add a click event listener to the "Return" button
returnButton.addEventListener("click", function() {
    // Handle the return action for this loan
    handleReturn(loan.id);
});

                    
                    // Append the "Return" button to the list item
                    listItem.appendChild(returnButton);
                    
                    loanList.appendChild(listItem);
                });

                document.getElementById("loanForm").style.display = "none";
                document.getElementById("loanList").style.display = "block";
            } else {
                alert("No loans found.");
            }
        })
        .catch(function(error) {
            console.error(error);
            alert("Failed to retrieve loans.");
        });
});

// Function to handle the return action
function handleReturn(loanId) {
    // Send a PUT request to return the book
    axios.put(`/loans/loans/${loanId}/return`)
    .then(function(response) {
        console.log(response.data);
        alert("Book returned successfully!");
        // You can refresh the loan list or update the UI as needed
    })
    .catch(function(error) {
        console.error(error);
        alert("Failed to return the book. Details: " + error.response.data.message); // Include more specific error details
    });
}
// Handle the "Show Late Loans" button click event
document.getElementById("showLateLoans").addEventListener("click", function() {
    // Send a GET request to retrieve all late loans from the server
    axios.get('/loans/late-loans')
        .then(function(response) {
            const lateLoanData = response.data.late_loans;
            const lateLoanList = document.getElementById("lateLoanData");
            lateLoanList.innerHTML = ""; // Clear previous data

            if (lateLoanData.length > 0) {
                // Use the map function to create list items for each late loan
                lateLoanData.forEach(function(loan) {
                    const listItem = document.createElement("li");
                    listItem.textContent = `Loan ID: ${loan.id}, Book ID: ${loan.book_id}, Loaner ID: ${loan.loaner_id}, Loaned Date: ${loan.loaned_date}, Due Date: ${loan.due_date}`;
                    lateLoanList.appendChild(listItem);
                });

                // Display the list of late loans
                document.getElementById("loanForm").style.display = "none";
                document.getElementById("loanList").style.display = "none";
                document.getElementById("lateLoanList").style.display = "block";
            } else {
                alert("No late loans found.");
            }
        })
        .catch(function(error) {
            console.error(error);
            alert("Failed to retrieve late loans.");
        });
});

    </script>
</body>

</html>
